.ProfileParent {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: auto;
  width: 80%;
  border-radius: 20px;
}
.ProfileImgParent {
  color: white;
  padding: 40px;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 20px 20px 0px 0px;
}

.ProfileImg {
  width: 55%;
  height: 100%;
  border: 5px solid white;
  display: box;
  margin-left: 10%;
}
.ProfileNameParent {
  margin: auto;
  display: grid;
  gap: 13px;
  align-items: center;
  text-align: center;
}
.ProfileNameHeading {
  font-size: 45px;
  font-weight: 700;
  margin: auto;
}
.ProfileTypeWriterParent {
  display: flex;
  gap: 10px;
  border-radius: 20px;
  margin: auto;
}
.ProfileSocialIconParent{
    display: flex;
                gap: 10px;
                border-radius: 20px;
                margin: auto;
}
.ProfileSocialIconChild{
    color: gray;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
  }
  .ProfileAbouMeParent {
    background-color: white;
    color: black;
    margin: auto;
    width: 90%;
    padding: 20px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2,1fr)
  }
  .ProfileContactParent  {
    width: 50%;
    height: 70%;
    margin: auto;
    margin-left:10%;
    padding-left: 50px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 2fr;
    gap: 0px 20px;
  }
  .ProfileResumeButton{
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: block;
    margin: 20px 0px;
    width: 150px;
    font-weight: 300
  }